{%- liquid
    render 'theme-icons', name: 'cart'
-%}
<span class="cart-label">
    {{ 'templates.cart.cart' | t }}
    {% comment %}
        {%- if cart == empty -%}
          {{ 'templates.cart.cart' | t }}
        {%- else -%}
          {{ 'sections.header.cart_count' | t: count: cart.item_count }}
        {%- endif -%}
    {% endcomment %}
</span>
<div class="cart-count-bubble">
    {%- if cart.item_count > 0 -%}
        <span aria-hidden="true">{{ cart.item_count }}</span>
    {%- endif -%}
</div>
<svg aria-hidden="true" focusable="false" role="presentation" width="19" height="19" class="icon-x" hidden>
    <use href="#icon-x" />
</svg>
