{% comment %}
    Render header dropdown content - Collection List

    Accepts:
     - block               {Object}
     - blockOrder:         {Numb}
     - parent_item_index:  {Numb}
{% endcomment %}

{% liquid
    assign collectionList = block.settings.collections
    assign collectionItemsWidth = block.settings.collection_items_width
    assign selectedParentIndex = block.settings.item_menu_index
    assign viewAll = block.settings.collection_url
%}

{%- unless collectionList.count == 0 -%}
    {% if parent_item_index == selectedParentIndex %}
        <div class="dropdown-inner__collections" data-block-index="{{ blockOrder }}">
            {%- comment -%}
                Critical styles for Header Dropdown Collection listing content.

                Accepts:
                -collectionItemsWidth: {Percentage}
            {%- endcomment -%}
            <style>
                @media (min-width: 990px) {
                  .full-width .container--grid .dropdown-inner__collections > ul > li:not(._action) {
                    border: 1px solid var(--color-foreground-10);
                    border-radius: .25rem;
                    height: 100%;
                  }

                  .dropdown-inner__collections > ul > li > a {
                    display: block;
                  }

                  .dropdown-inner__collections li .item-title {
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: .25rem;
                    padding: .25rem;
                  }

                  .dropdown-inner__collections li img {
                    transition: scale .2s;
                  }

                  .dropdown-inner__collections li:hover img,
                  .dropdown-inner__collections li:focus img {
                    scale: 1.02;
                  }

                  .dropdown-inner__collections li:hover .item-title,
                  .dropdown-inner__collections li:focus .item-title {
                    color: var(--color-foreground-75);
                  }

                  .dropdown-inner__collections li:not(._action) {
                    width: clamp(150px, {{ collectionItemsWidth | append: '%' }},  300px);
                    padding: {% if collectionItemsWidth > 40 %}.8{% elsif collectionItemsWidth >= 30 and collectionItemsWidth < 40 %}.6{% elsif collectionItemsWidth <30 and collectionItemsWidth >= 20 %}.4{% else %}.2{% endif %}rem;
                  }

                  .dropdown-inner__collections li .item-title {
                    font-size: {% if collectionItemsWidth <= 16 %}.75{% elsif collectionItemsWidth > 16 and collectionItemsWidth < 40 %}.875{% else %}1{% endif %}rem;
                  }
                }
            </style>
            <ul>
                {%- for collectionItem in collectionList -%}
                    {%- render 'grid-item-collection', collection: collectionItem, collection_type: 'slider' -%}
                {%- endfor -%}
                {%- if viewAll != blank -%}
                    <li class="grid-item _action">
                        {% render 'header__dropdown-link-view-all', view_all: viewAll %}
                    </li>
                {%- endif -%}
            </ul>
        </div>
    {% endif %}
{%- endunless -%}
