{%- comment -%}
    Render section with custom liquid
{%- endcomment -%}

<div class="section--custom_liquid dynamic-page-width">
    {% unless section.settings.title == blank %}
        <h2 class="title">{{ section.settings.title }}</h2>
    {% endunless %}
    {{ section.settings.custom_liquid }}
</div>

{% schema %}
{
  "name": "t:sections.custom-liquid.name",
  "class": "spaced-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.custom-liquid.settings.title.label"
    },
    {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "t:sections.custom-liquid.settings.custom_liquid.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.custom-liquid.presets.name"
    }
  ]
}
{% endschema %}
