{% for block in section.blocks %}
    {% if forloop.first %}
        {% render 'initialize-deferred-scripts', init_popup_banner: true %}
    {% endif %}

    {% case block.type %}
        {% when 'popup' %}
            {% render 'overlay__block-popup', block: block %}
    {% endcase %}
{% endfor %}

{% schema %}
{
  "name": "t:sections.overlay.name",
  "tag": "section",
  "blocks": [
    {
      "type": "popup",
      "name": "t:sections.overlay.blocks.popup.name",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<h4>Subscribe to our emails</h4>",
          "label": "t:sections.overlay.blocks.popup.settings.text.label"
        },
        {
          "type": "checkbox",
          "id": "subscribe_newsletter",
          "label": "t:sections.overlay.blocks.popup.settings.subscribe_newsletter.label",
          "default": true
        },
        {
          "type": "richtext",
          "id": "text_additional",
          "default": "<p>Your information is safe and secure with us. Read our <a href=\"#\">privacy policy</a>.</p>",
          "label": "t:sections.overlay.blocks.popup.settings.text_additional.label"
        },
        {
          "type": "header",
          "content": "t:sections.overlay.blocks.popup.settings.header_image.content"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.overlay.blocks.popup.settings.image.label"
        },
        {
          "type": "url",
          "id": "image_url",
          "label": "t:sections.overlay.blocks.popup.settings.image_url.label"
        },
        {
          "type": "select",
          "id": "image_position",
          "label": "t:sections.overlay.blocks.popup.settings.image_position.label",
          "default": "underneath",
          "options": [
            {
              "value": "underneath",
              "label": "t:sections.overlay.blocks.popup.settings.image_position.option.underneath"
            },
            {
              "value": "on_left",
              "label": "t:sections.overlay.blocks.popup.settings.image_position.option.on_left"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:sections.overlay.blocks.popup.settings.header_behavior.content"
        },
        {
          "type": "radio",
          "id": "showup_when",
          "label": "t:sections.overlay.blocks.popup.settings.showup_when.label",
          "default": "exit_intent",
          "options": [
            {
              "value": "immediately",
              "label": "t:sections.overlay.blocks.popup.settings.showup_when.option.immediately"
            },
            {
              "value": "exit_intent",
              "label": "t:sections.overlay.blocks.popup.settings.showup_when.option.exit_intent"
            }
          ]
        },
        {
          "type": "radio",
          "id": "showup_frequency",
          "label": "t:sections.overlay.blocks.popup.settings.showup_frequency.label",
          "options": [
            {
              "value": "daily",
              "label": "t:sections.overlay.blocks.popup.settings.showup_frequency.option.daily"
            },
            {
              "value": "weekly",
              "label": "t:sections.overlay.blocks.popup.settings.showup_frequency.option.weekly"
            }
          ],
          "default": "weekly"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "popup"
      }
    ]
  }
}
{% endschema %}
