.article_tags {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: .5rem 0;
  padding: 0;
}

.article_tags .tag {
  background: var(--tag-background, var(--color-tag-background));
  border-radius: .75rem;
  color: var(--tag-foreground, var(--color-tag-foreground));
  font-size: .75rem;
  letter-spacing: .5px;
  line-height: normal;
  padding: .25rem .75rem;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase}
