.product-quick-add {
    background: var(--color-background);
    box-shadow: 0 0 1rem var(--color-foreground-50);
    margin-right: -33rem;
    transition: margin .75s, visibility .75s;
    position: fixed;
    bottom: 1rem;
    right: 0px;
    z-index: 40}

.product-quick-add-container .product__info-block .product__title {
    display: -webkit-box;
    font-size: calc(1rem - 1px);
    line-height: 1.25rem;
    margin: 0 0 .25rem;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.product-quick-add-container .product__info-block .product__price .price--final {
    font-size: calc(1rem + 2px);
    line-height: normal;
}

.product-quick-add-container .product__title--before,
.product-quick-add-container .product__title--after,
.product-quick-add-container .product__title--rating {
    display: none}

.product-quick-add-container .product__info-block .product__title--sku {
    float: left;
    font-size: calc(1rem - 1px);
    text-align: left;
}

.product-quick-add-container .product__info-block .price {
    margin: 0;
    display: flex;
    justify-content: flex-end}

.product-quick-add-container .product-form__buttons .text,
.product-quick-add-container .product__info-block .price .badge {
    display: none}

.product-quick-add-container .product-form__buttons button {
    min-width: 4rem;
}

.product-quick-add-container {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    padding: .5rem 1rem .5rem .5rem;
}

@media screen and (min-width: 320px) {
    .product-quick-add-container .media {
        display: none;
        flex-shrink: 0;
    }

    .product-quick-add-container .product__title--price {
        float: right;
        width: auto;
    }

    .product-quick-add-container .product__info-block {
        margin-bottom: 0;
        display: block;
        padding: 0;
        flex-grow: 1;
    }

    .product-quick-add-container .action {
        flex-shrink: 0;
        margin: 0;
        padding: 0;
    }
}

@media screen and (min-width: 767px) {
    .product-quick-add {
        max-width: 32rem;
        min-width: 24rem;
        right: 1rem}

    .product-quick-add-container .product__info-block--title {
        border-bottom-width: 0px}

    .product-quick-add-container .product__title--price,
    .product-quick-add-container .media {
        display: block}
}