.tab-content .shopify-relax.jdgm-review-widget {
    opacity: 0;
}

.tab-content .shopify-relax.jdgm-review-widget.jdgm--done-setup-widget,
.tab-content .shopify-relax.jdgm-review-widget[data-design-mode="true"] {
    opacity: 1;
}

.tab-content .shopify-relax .jdgm-rev-widg__title {
    display: none;
}

.tab-content .shopify-relax .jdgm-row-stars {
    display: grid;
    grid-template: "summary     histogram"
                   "actions     histogram";
    grid-template-columns: auto 1fr;
    padding: 0 0 1rem;
}

.tab-content .shopify-relax .jdgm-form__title {
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: -1px;
    order: -2;
}

.tab-content .shopify-relax .jdgm-rev-widg.jdgm-rev-widg {
    padding: 0;
}

.tab-content .shopify-relax .jdgm-rev-widg__summary {
    grid-area: summary;
    margin: 0;
    text-align: left;
}

.tab-content .shopify-relax .jdgm-rev-widg__summary-inner {
    /*display: flex !important;
    align-items: center;
    flex-wrap: wrap;*/
}

.tab-content .shopify-relax .jdgm-rev-widg__summary-stars {
    align-items: center;
    display: flex;
    margin: .5rem .5rem .5rem 0;
    width: 100%;
}

.tab-content .shopify-relax .jdgm-rev-widg__summary-text {
    color: var(--color-foreground-50);
    font-size: .875rem;
    margin: -.75rem auto 1.5rem 0;
}

.tab-content .shopify-relax .jdgm-rev-widg__summary-average {
    font-size: 2rem;
    font-weight: 600;
    margin: 0 1rem 0 0;
    max-width: 3rem;
    order: -1;
    overflow: hidden;
    vertical-align: bottom;
    white-space: nowrap;
}

.tab-content .shopify-relax .jdgm-rev-widg__summary .jdgm-star {
    color: currentColor;
    font-size: 1.25rem;
    padding: 0 .375rem 0 0 !important;
}

.tab-content .shopify-relax [data-number-of-reviews="0"] .jdgm-row-stars {
    display: none !important;
}

.tab-content .shopify-relax .jdgm-row-stars .jdgm-histogram {
    border: 0 !important;
    grid-area: histogram;
    margin: 0 0 0 auto;
    width: auto !important;
}

.tab-content .shopify-relax .jdgm-row-stars .jdgm-histogram__bar {
    display: none;
}

.tab-content .shopify-relax .jdgm-row-stars .jdgm-histogram__frequency {
    color: var(--color-foreground-50);
}

.tab-content .shopify-relax .jdgm-row-stars .jdgm-widget-actions-wrapper {
    grid-area: actions;
    text-align: left;
    margin: .5rem -5px 0;
}

.tab-content .shopify-relax .jdgm-row-stars .jdgm-write-rev-link {
    color: var(--color-foreground);
    background: var(--color-foreground-10);
    border-color: transparent;
    border-radius: var(--button__border-radius);
    display: inline-block;
    font-weight: 500;
    max-width: none;
    width: auto !important;
    white-space: nowrap;
}

.tab-content .shopify-relax .jdgm-row-stars .jdgm-write-rev-link:not([disabled]):hover,
.tab-content .shopify-relax .jdgm-row-stars .jdgm-write-rev-link:focus {
    color: var(--color-foreground);
    background: var(--color-foreground-10);
    border-color: transparent;
}

.tab-content .shopify-relax .jdgm-form-wrapper {
    background: var(--tabs-review-form__background, var(--color-foreground-4));
    border: 0;
    border-radius: 4px;
    margin: 1rem 0 0;
    padding: 3rem 2rem 2rem;
}

.tab-content .shopify-relax [data-number-of-reviews="0"] .jdgm-form-wrapper {
    display: block !important;
}

.tab-content .shopify-relax .jdgm-form {
    max-width: 420px;
    padding: 0;
    text-align: left;
}

.tab-content .shopify-relax .jdgm-form [type="text"],
.tab-content .shopify-relax .jdgm-form [type="email"],
.tab-content .shopify-relax .jdgm-form textarea {
    background: var(--color-background);
    border: 0;
    border-radius: 4px;
    box-shadow: none;
}

.tab-content .shopify-relax .jdgm-form [type="text"] {
    padding-right: 2.25rem;
}

.tab-content .shopify-relax .jdgm-form__fieldset {
    position: relative;
}

.tab-content .shopify-relax .jdgm-form__fieldset .jdgm-countdown {
    position: absolute;
    right: .25rem;
    top: 50%;
    transform: translateY(-50%);
}

.tab-content .shopify-relax .jdgm-form__fieldset:has(textarea) .jdgm-countdown {
    bottom: .375rem;
    top: auto;
    transform: none;
}

.tab-content .shopify-relax .jdgm-form textarea {
    min-height: 8rem;
    padding-bottom: 1rem;
}

.tab-content .shopify-relax [aria-label="Rating"] label,
.tab-content .shopify-relax .jdgm-form label[for]:not(.jdgm-always-visible) {
    display: none;
}

.tab-content .shopify-relax .jdgm-picture-fieldset__box-wrapper {
    border-radius: 4px;
    border: 2px solid var(--color-foreground-4);
}

.tab-content .shopify-relax .jdgm-form__fieldset > label {
    color: var(--color-foreground-70);
    font-size: max(.875rem, 13px);
    margin: 0 .25rem;
    order: 1;
}

.tab-content .shopify-relax .jdgm-form__fieldset:has(.jdgm-media-fieldset__container) {
    display: flex;
    flex-direction: column;
}

.tab-content .shopify-relax .jdgm-form__reviewer-name-format-container {
    color: var(--color-foreground-70);
    order: 1;
}

.tab-content .shopify-relax .jdgm-form__reviewer-name-format-container .jdgm-sort-dropdown {
    height: auto;
    font-weight: 500;
    padding: 0 1.25rem 0 .25rem;
}

.tab-content .shopify-relax .jdgm-form__fieldset:has(.jdgm-form__reviewer-name-format-container) {
    display: flex;
    flex-direction: column;
}

.tab-content .shopify-relax .jdgm-form__fieldset:has(.jdgm-form__reviewer-name-format-container) .jdgm-form__reviewer-name-format-container {
    font-size: max(.875rem, 13px);
    margin: 0.25rem 0.25rem 0;
}

.tab-content .shopify-relax .jdgm-form__fieldset:has(.jdgm-form__reviewer-name-format-container) .jdgm-form__inline-label {
    margin: 0;
}

.tab-content .shopify-relax .jdgm-form__fieldset-actions .jdgm-cancel-rev {
    display: none;
}

.tab-content .shopify-relax .jdgm-form__fieldset-actions .jdgm-submit-rev {
    background-color: var(--color-base-accent-1);
    border-color: var(--color-base-accent-1);
    border-radius: var(--button__border-radius);
    color: var(--color-base-accent-1-inverse);
    font-weight: 500;
    height: 3rem;
    min-width: 12.5rem;
}

.tab-content .shopify-relax .jdgm-form__fieldset-actions .jdgm-submit-rev:not([disabled]):hover,
.tab-content .shopify-relax .jdgm-form__fieldset-actions .jdgm-submit-rev:focus {
    background-color: var(--color-base-accent-1);
    border-color: var(--color-base-accent-1);
}

.tab-content .shopify-relax .jdgm-rev-widg__reviews .jdgm-rev {
    border-top: 2px solid var(--color-foreground-4);
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 0 0;
}

.tab-content .shopify-relax .jdgm-rev-widg__reviews .jdgm-rev > * {
    width: 100%;
}

.tab-content .shopify-relax .jdgm-rev-widg__reviews .jdgm-rev__header,
.tab-content .shopify-relax .jdgm-rev-widg__reviews .jdgm-row-rating,
.tab-content .shopify-relax .jdgm-rev-widg__reviews .jdgm-rev__content {
    display: contents;
}

.tab-content .shopify-relax .jdgm-rev-widg__reviews .jdgm-rev__header > *,
.tab-content .shopify-relax .jdgm-rev-widg__reviews .jdgm-row-rating > *,
.tab-content .shopify-relax .jdgm-rev-widg__reviews .jdgm-rev__content > * {
    width: 100%;
}

.tab-content .shopify-relax .jdgm-rev-widg__reviews .jdgm-rev__rating {
    margin: 0 0 .5rem;
    order: -4;
}

.tab-content .shopify-relax .jdgm-rev-widg__reviews .jdgm-rev__rating .jdgm-star {
    margin-right: .125rem !important;
}

.tab-content .shopify-relax .jdgm-rev-widg__reviews .jdgm-rev__title {
    order: -3;
}

.tab-content .shopify-relax .jdgm-rev-widg__reviews .jdgm-rev__body {
    order: -2;
}

.tab-content .shopify-relax .jdgm-rev-widg__reviews .jdgm-row-profile {
    font-size: .875rem;
    margin: 0 .5rem 0 0;
    order: 90;
    width: auto;
}

.tab-content .shopify-relax .jdgm-rev-widg__reviews .jdgm-row-profile .jdgm-rev__icon {
    display: none;
}

.tab-content .shopify-relax .jdgm-rev-widg__reviews .jdgm-rev__author {
    color: currentColor;
    font-weight: 600;
}

.tab-content .shopify-relax .jdgm-rev-widg__reviews .jdgm-rev__author::before {
    background: currentColor;
    content: "";
    display: inline-block;
    height: 2px;
    margin: 0 0.75rem 0.25rem 0;
    width: 2rem;
}

.tab-content .shopify-relax .jdgm-rev-widg__reviews .jdgm-rev__timestamp {
    color: var(--color-foreground-50);
    font-size: .875rem;
    order: 91;
    width: auto;
}

.tab-content .shopify-relax .jdgm-rev-widg__reviews .jdgm-rev__custom-form {
    order: 92;
}

.tab-content .shopify-relax .jdgm-row-actions {
    border-top: 2px solid var(--color-foreground-4);
}

.tab-content .shopify-relax .jdgm-sort-dropdown-wrapper .jdgm-sort-dropdown,
.tab-content .shopify-relax .jdgm-sort-dropdown-wrapper .jdgm-sort-dropdown-arrow {
    color: var(--color-foreground);
}

.tab-content .shopify-relax .jdgm-sort-dropdown-wrapper .jdgm-sort-dropdown {
    padding: .5rem 2rem .5rem .5rem;
}

.tab-content .shopify-relax .jdgm-paginate {
    border: 0;
}

.tab-content .shopify-relax .jdgm-paginate__page {
    border-radius: 4px;
    color: var(--color-foreground-30);
    display: inline-block;
    font-size: .875rem;
    font-weight: 500;
    margin:  0 .125rem;
    min-width: 2rem;
    padding: .5rem .25rem;
    text-align: center;
    width: auto;
}

.tab-content .shopify-relax .jdgm-paginate__page:hover {
    background: var(--color-foreground-8);
    color: currentColor;
}

.tab-content .shopify-relax .jdgm-paginate__page.jdgm-curt {
    background: var(--color-foreground-8);
    color: currentColor;
    font-size: .875rem;
}

.tab-content .shopify-relax .jdgm-paginate__next-page::before,
.tab-content .shopify-relax .jdgm-paginate__last-page::before,
.tab-content .shopify-relax .jdgm-paginate__first-page::before,
.tab-content .shopify-relax .jdgm-paginate__prev-page::before  {
    display: inline-block;
    transform: scale(1.5);
}

@media (min-width: 480px) {
    .tab-content .shopify-relax .jdgm-rev-widg__summary-stars {
        width: auto;
    }

    .tab-content .shopify-relax .jdgm-row-stars .jdgm-histogram__bar {
        display: inline-block;
        width: 4rem;
    }

    .tab-content .shopify-relax .jdgm-rev-widg__summary-text {
        margin: .5rem 0 .5rem auto;
    }
}

@media (min-width: 640px) {
    .tab-content .shopify-relax .jdgm-row-stars .jdgm-histogram {
        margin: 0 auto;
    }

    .tab-content .shopify-relax .jdgm-row-stars .jdgm-histogram__bar {
        width: 8rem;
    }
}

@media (min-width: 990px) {
    .tab-content .shopify-relax .jdgm-rev-widg.jdgm-rev-widg {
        align-items: flex-start;
        display: grid;
        grid-template-columns: repeat(24,1fr);
        grid-template-rows: auto;
    }

    .tab-content .shopify-relax .jdgm-rev-widg.jdgm-rev-widg[data-number-of-reviews="0"] {
        display: block;
    }

    .tab-content .shopify-relax .jdgm-rev-widg__header {
        display: contents;
    }

    .tab-content .shopify-relax .jdgm-row-stars {
        grid-column: 1 / 14;
        grid-row: 1 / 2;
    }

    .tab-content .shopify-relax .jdgm-row-stars .jdgm-rev-widg__summary {
        display: block !important;
    }

    .tab-content .shopify-relax .jdgm-row-stars .jdgm-histogram {
        margin: 0 0 0 auto;
    }

    .tab-content .shopify-relax .jdgm-row-stars .jdgm-widget-actions-wrapper {
        display: none !important;
    }

    .tab-content .shopify-relax .jdgm-form-wrapper {
        border: 0;
        display: block !important;
        grid-column: 15 / 25;
        grid-row: 1 / 5;
        margin: 0 -.75rem 0 0;
    }

    .tab-content .shopify-relax .jdgm-row-actions {
        grid-column: 1 / 14;
        grid-row: 2 / 3;
    }

    .tab-content .shopify-relax  .jdgm-rev-widg__body {
        grid-column: 1 / 14;
        grid-row: 3 / 4;
    }

    .product-tabs--expanded .tab-content .shopify-relax .jdgm-row-stars .jdgm-histogram__bar {
        margin: .25rem;
        width: min(calc(2rem + (100vw - 990px)/ 2), 6rem);
    }
}
