.header__icon--cart {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

cart-sidebar {
    background: var(--color-background);
    box-shadow: none;
    color: var(--color-foreground);
    display: flex;
    flex-direction: column;
    max-width: calc(100vw - 2rem);
    transition-property: transform, visibility, box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    width: 25rem;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 50;
    --tw-translate-x: 100%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    background-color: var(--color-background)}

cart-sidebar[hidden] {
    display: flex;
}

cart-sidebar.updating .cart-sidebar__items,
cart-sidebar.updating .cart-sidebar__total {
    pointer-events: none;
}

@keyframes pulse {

    50% {
        opacity: .5;
    }
}

cart-sidebar.updating .cart-sidebar__items,
cart-sidebar.updating .cart-sidebar__total {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.cart-sidebar__empty {
    margin: 3rem;
    text-align: center;
}

.cart-sidebar__header {
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between}

.cart-sidebar__header .h3 {
    font-weight: 600;
}

.cart-sidebar__items {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    overflow: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.cart-sidebar__item {
    display: flex;
    gap: 1rem;
    padding: 1.5rem 0;
    word-break: break-word;
}

.cart-item__media {
    flex-shrink: 0;
}

.cart-item__media .media,
.cart-item__media--placeholder {
    min-width: var(--cart-item__media--width, 105px);
}

.cart-item__info {
    flex-grow: 1;
}

.cart-item__sku {
    color: var(--color-foreground-50);
    font-size: .875rem;
    font-weight: 500;
    word-break: break-all;
}

.cart-item__title {
    font-weight: 600;
    display: block}

.cart-item__title:hover {
    text-decoration-line: underline;
}

.cart-item__options {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.cart-item__option {
    text-transform: lowercase;
    font-style: italic;
}

.cart-item__option span {
    font-weight: 500;
}

.selling_plan_option {
    word-break: break-all;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.cart-item__price {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-item__price .cart-item__discounted-prices {
    display: flex;
    align-items: center;
}

.cart-item__discounted-prices .price__regular {
    margin-right: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    opacity: 0.8;
}

.cart-item__price .cart-item__qty {
    display: none;
}

.cart-item__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-item__remove {
    transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 150ms;
    height: 1rem;
    width: 1rem;
}

@media (hover: hover) {
    .cart-item__remove {
        opacity: .2;
    }

    .cart-sidebar__item :hover .cart-item__remove,
    .cart-item__remove:focus,
    .cart-item__remove:active {
        opacity: 1;
    }
}

.cart-sidebar__footer {
    background-color: var(--color-foreground-3);
    margin-top: auto;
    padding: 1.5rem;
}

div.cart-sidebar__footer {
    display: block;
}

.cart-sidebar__footer .button {
    min-width: 100%;
}

.cart-sidebar__total {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.cart-sidebar__discount {
    margin-bottom: 1rem;
}

.cart-sidebar__total .total-amount {
    font-size: 1.25rem;
    font-weight: 700;
}

.cart-sidebar__footer-actions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

cart-sidebar .message-wrapper {
    padding-top: 0.75rem;
}

cart-sidebar .message-wrapper + .cart-sidebar__item {
    padding-top: 0px;
}

header cart-sidebar {
    bottom: auto;
    max-height: 75vh;
    position: absolute;
    right: 0;
    top: 100%;
    transform-origin: -1.5rem -2.5rem;
    visibility: hidden;
    --tw-scale-x: 0;
    --tw-scale-y: 0;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}

@media all and (min-width: 990px) {
    header cart-sidebar {
        top: calc(100% + .25rem);
        transform-origin: -1.5rem -1.5rem;
    }
}

.header__icon--cart {
    position: relative;
    overflow: hidden;
}

.header__icon--cart svg,
.header__icon--cart .cart-count-bubble {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.header__icon--cart.button > svg.icon-x {
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  --tw-translate-y: -220%;
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}

header cart-sidebar .cart-sidebar__close {
    display: none;
}

header .cart-sidebar__empty {
    margin: 1.5rem 0 3rem;
}

header .cart-sidebar__header .h3 {
    font-size: 1.125rem;
}

header .cart-sidebar__items {
    font-size: calc(1rem - 1px);
    padding-top: 2px;
}

header .cart-sidebar__item {
    padding-top: 0;
}

header .cart-item__media {
    --cart-item__media--width: 74px;
}

header .cart-item__info {
    padding: 0 2rem 0 0;
    position: relative;
}

header .cart-item__options {
    margin: .25rem 0;
}

header .cart-item__info .cart-item__actions {
    position: absolute;
    right: 2px;
    top: 2px;
}

header .cart-item__info quantity-input {
    display: none;
}

header .cart-item__price {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    margin: .25rem 0;
}

header .cart-item__price .price--unit {
    order: 99;
    width: 100%;
}

header .cart-item__price .cart-item__qty {
    display: inline;
}

header .cart-item__price .cart-item__qty::before {
    content: '\02715';
    padding: 0 .25rem;
}

header div.cart-sidebar__footer:empty {
    display: none;
}

header .cart-sidebar__footer-actions {
    flex-direction: row-reverse;
}

header .cart-sidebar__footer-actions > * {
    width: calc((100% - 1rem) / 2);
}

header .cart-sidebar__footer-actions :only-child {
    width: 100%;
}

header .cart-sidebar__footer-actions .link_to_cart {
    align-items: center;
    background-color: var(--color-foreground);
    border-radius: 4px;
    color: var(--color-background);
    display: flex;
    font-weight: 500;
    justify-content: center;
}

[dir="rtl"] cart-sidebar {
        left: 0;
        right: auto;
        --tw-translate-x: -100%;
    }

[dir=rtl] header cart-sidebar {
        left: 0;
        right: auto;
        transform-origin: calc(100% + 1.5rem) -2.5rem;
    }

@media all and (min-width: 990px) {
        [dir=rtl] header cart-sidebar {
            transform-origin: calc(100% + 1.5rem) -1.5rem;
        }
}

[dir="rtl"] header .cart-item__info {
        padding: 0 0 0 2rem;
    }

[dir="rtl"] header .cart-item__info .cart-item__actions {
        left: 2px;
        right: auto;
    }

body[data-cart-status=open] .cart-sidebar + .cart-sidebar__overflow {
    position: fixed;
    inset: 0px;
    z-index: 40;
    display: block;
    background-color: var(--color-foreground-40);
}

cart-sidebar[data-status=open] {
    box-shadow: 0 0 1rem var(--color-foreground-50);
    z-index: 51;
    --tw-translate-x: 0px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}

header cart-sidebar[data-status=open] {
    visibility: visible;
    --tw-translate-x: 0px;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}

body[data-cart-status=open] .header__icon--cart svg {
    --tw-translate-y: 220%;
}

body[data-cart-status=open] .cart-count-bubble {
    transform: translateY(270%);
}

body[data-cart-status=open] .header__icon--cart > svg.icon-x {
    --tw-translate-y: -50%;
    --tw-scale-x: .75;
    --tw-scale-y: .75;
}
