.product__info-block--buy_buttons {
    margin-bottom: 2rem;
}

.product__info-block {
    margin: 1.5rem 0 0;
}

.product__info-block[style="order: 1"] {
    margin-top: 0;
}

.product__info-block--border {
    border: solid var(--color-foreground-4);
    border-width: 2px 0;
    padding: 1.625rem 0;
}

.product__info-block--border:first-child,
.product__info-block--border + .product__info-block--border {
    border-top: 0;
    padding-top: 0;
}

.product__info-block--border + .product__info-block--border {
    padding-top: .125rem;
}

.product-form__input {
    align-items: center;
    display: flex;
    gap: .5rem;
}

.product-form__input .form__label {
    align-items: center;
    color: var(--color-foreground);
    display: block;
    margin: 0;
    max-height: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    width: var(--product-form--label__width, 5.5rem);
}

.product-form__input .select,
.product-form__input .variant-options--wrapper,
.product-form__input .swatch-attribute-options {
    width: calc(100% - var(--product-form--label__width, 5.5rem) - .5rem);
}

@media screen and (max-width: 639px) {
    .product-section {
        margin-top: 1.5rem;
    }
}

@media (min-width: 990px) {
    .product__info-block {
        margin-bottom: 1.5rem;
    }

    .product__info-block[style="order: 1"] {
        margin-top: 1.5rem;
    }

    .product__info-block:first-child {
        margin-top: 0;
    }

    .product__info-block--title-with-price ~ .product__info-block--price + .product__info-block--border {
        border-top: 0;
        padding-top: 0;
    }
}

.product__price .price--final {
    font-size: 2rem;
    font-weight: 600;
}

.product__price .price--compare {
    color: var(--color-foreground-55);
}

.product__price .price {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.product__price .price > dl > div {
    align-items: baseline;
    display: flex;
    flex-direction: row-reverse;
    width: -moz-fit-content;
    width: fit-content;
    gap: 0 .5rem;
}

.product-form__buttons {
    --product-form--buttons__gap: 1.5rem;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: var(--product-form--buttons__gap);
    padding: 0 0 .5rem;
}

.product-form__buttons button {
    padding: calc(.75rem - 1px) 1rem;
    width: auto;
}

.product-form__buttons button > svg {
    height: 1.25rem;
    width: 1.25rem;
}

.product-form__submit:not([data-to-cart-available=true]) > svg {
    display: none;
}

.product-form__buttons > .product-form__submit,
.product-form__buttons > .shopify-payment-button {
    flex-shrink: 1;
    margin: 0 0 -.5rem;
    min-width: 100%;
}

.product-form__buttons .shopify-payment-button__button,
.product-form__buttons .shopify-cleanslate [role="button"] {
    font-size: 1rem !important;
    min-width: auto;
    width: 100%;
}

@media (min-width: 480px) {
    .product-form__buttons > .product-form__submit,
    .product-form__buttons > .shopify-payment-button {
        min-width: calc(50% - var(--product-form--buttons__gap, 0px) / 2);
    }

    .product-form__buttons > .product-form__submit:only-child {
        min-width: 100%;
    }
}

.product-form__buttons .shopify-payment-button__button--hidden {
    display: block;
    height: 0;
    margin: 0;
    min-width: 0;
    padding: 0;
    width: 0;
}

.product-form__buttons .shopify-payment-button [role=button] {
    border-radius: var(--button__border-radius);
    min-height: 3rem !important;
}

.product-form__buttons .shopify-payment-button__more-options {
    color: var(--color-foreground);
    padding: 0;
    box-shadow: none !important;
    width: 100% !important;
    background: transparent;
    border: 0;
}

.product__info-block--collapsible_tab + .product__info-block--collapsible_tab {
    margin-top: 0;
}

.product__info-block--collapsible_tab + .product__info-block pickup-availability[available] {
    /*border-top-width: 0;
    padding-top: 0;*/
}

@media all and (min-width: 990px) {
    .product__info-block--collapsible_tab + .product__info-block--collapsible_tab {
        margin-top: -1.5rem;
    }
}

.product__info-block--gallery {
    margin: 1.5rem 0 0;
}

.thumb-type {
    background-color: rgba(var(--color-background-rgb), .8);
    border-radius: 0px 4px 0 0;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
}

.thumb-type--external_video {
    padding: 0 0 0 .125rem;
}

.thumb-type svg {
    fill: currentColor;
    height: 1.75rem;
    margin: .125rem;
    width: 1.75rem;
}

.slider-thumbs--wrapper .image--wrapper::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4px;
    height: 2px;
    z-index: 1;
}

.slider-thumbs--wrapper .page-active .image--wrapper::before {
    background-color: currentColor;
}

.product__info-block--gallery modal-opener button {
    background-color: transparent;
    border-radius: 0;
    border-width: 0px;
    bottom: 0;
    cursor: zoom-in;
    left: 0;
    min-width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.product__info-block--gallery .slider-buttons {
    margin: 0;
}

.product__info-block--gallery .image--wrapper::after {
    background-color: rgba(var(--color-foreground-rgb), .02);
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 0;
}

@media screen and (max-width: 768px) {
    .product__info-block--gallery.mobile-margin_top {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

.product__info-block--icons_bar {
    font-size: .875rem;
    padding-left: .5rem;
}

.product__info-block--icons_bar .icons-bar-icon {
    color: var(--color-foreground);
}

.pickup-availability-preview {
    align-items: flex-start;
    display: flex;
    gap: 1rem;
}

.pickup-availability-preview .icon {
    color: #42CA49;
    flex-shrink: 0;
    height: 1.5rem;
    width: 1.5rem;
}

.pickup-availability-button {
    margin: .5rem 0 0;
    color: var(--color-foreground-40);
}

.pickup-availability-info .available-place {
    font-weight: 500;
}

.pickup-availability-info .available-time {
    color: var(--color-foreground-55);
}

pickup-availability-drawer {
    display: none;
}

.product-form__quantity .stock-info__wrapper {
    align-items: center;
    display: flex;
    height: 3rem;
    margin: 0 auto;
}

.product-form__quantity:has(.stock-status) {
    flex-wrap: wrap;
}

.product-form__quantity .stock-status {
    align-items: center;
    display: flex;
    font-size: .875rem;
    font-weight: 500;
    gap: .375rem;
    min-height: 1.5rem;
    padding: 0 .75rem;
    position: relative;
}

.product-form__quantity .stock-status .inventory-qty {
        font-weight: normal;
    }

.product-form__quantity .stock-status::before {
    background-color: currentColor;
    border-radius: .75rem;
    bottom: 0;
    content: '';
    left: 0;
    opacity: .08;
    position: absolute;
    right: 0;
    top: 0;
}

.product-form__quantity .stock-status svg {
    height: .75rem;
    width: .75rem;
}

.product-form__quantity .stock-status span {
}

.product-form__quantity .stock-status__in-stock {
    color: var(--color--stock-status--in-stock, var(--color-base-accent-2));
}

.product-form__quantity .stock-status__out-of-stock {
    color: var(--color--stock-status--out-of-stock, var(--color-base-accent-1));
}

@media (min-width: 480px) {
    .product-form__quantity .stock-info__wrapper {
        margin: 0 auto 0 1.5rem;
    }
}

.product__info-block--share {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    gap: .75rem;
}

.product__info-block--share .share-button__button {
    --color-button-background: var(--color-foreground-4);
    --color-button-text: currentColor;
    border-radius: 100%;
    height: 2rem;
    min-width: auto;
    padding: 0.375rem;
    width: 2rem;
}

.share-button__button--facebook,
.share-button__button--pinterest,
.share-button__button--twitter {
    fill: currentColor;
}

.product__info-block--share .share-button__button > svg {
    height: 100%;
    width: 100%;
}

.product__info-block--share .share-label {
    margin: 0 2.5rem 0 0;
}

.product__info-block--title {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1rem;
}

.product__title--wrapper {
    display: contents;
}

.product__title {
    font-size: 2rem;
    line-height: 2rem;
    margin: 0 0 .5rem;
    order: -1;
    width: 100%;
}

.product__title--rating {
    align-items: center;
    display: inline-flex;
    font-size: calc(1rem - 2px);
    margin: 0 1.5rem 0 0;
    white-space: nowrap;
    width: calc(50% - 1.5rem);
}

.product__title--rating .spr-badge-caption {
    display: none;
}

.product__title--rating .spr-badge .spr-badge-starrating {
    gap: .125rem;
}

.product__title--before,
.product__title--after {
    color: var(--color-foreground-40);
}

.product__title--before {
    margin: 0;
    order: -1;
    width: 100%;
}

.product__title--after {
    margin: -.5rem 0 .5rem;
}

.product__title--rating + .product__title--sku {
    text-align: right;
    width: 50%;
}

.product__title--rating:empty + .product__title--sku {
    width: 100%;
}

.product__title--sku .label {
    font-weight: 600;
}

.product__title--price {
    display: none;
    order: -1;
}

@media (min-width: 425px) {
    .product__title--rating .spr-badge-caption {
        display: inline;
        font-size: 1rem;
    }
}

@media all and (min-width: 990px) {
    .product__title--price {
        display: block;
        width: 100%;
    }

    .product__title--price .price {
        align-items: baseline;
        display: grid;
        grid-template: "price     badge"
                       "price     badge-soldout"
                       "unitPrice unitPrice";
        gap: 0 .5rem;
        margin: -.5rem 0 .75rem;
    }

    .product__info-block--title-with-badge .price > dl,
    .product__info-block--title-with-badge .price > dl > div {
        display: none;
    }

    .product__info-block--title-with-price .price > dl,
    .product__info-block--title-with-price .price > dl > div {
        display: contents;
    }

    .product__info-block--title-with-price .price > dl > div {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        grid-area: price;
    }

    .product__title--price .price--item {
        line-height: 2rem;
    }

    /*.product__title--price dt ,
    .product__title--price dd {
        grid-area: finalPrice;
    }

    .product__title--price .price--compare {
        grid-area: regularPrice;
    }*/

    .product__title--price .price--unit {
        grid-area: unitPrice;
    }

    /* .product__title--price .price--unit .label {
        display: block;
    } */

    .product__title--price .price .badge {
        grid-area: badge;
        justify-self: flex-end;
        margin: .25rem 0;
        width: -moz-max-content;
        width: max-content;
    }

    .product__title--price .price .badge + .badge-soldout {
        grid-area: badge-soldout;
        justify-self: end;
        width: -moz-max-content;
        width: max-content;
    }
    /*.product__title--price .price .badge-onsale {
        grid-area: badge-onsale;
    }*/

    .product__info-block--title-with-badge ~ .product__info-block .product__price .badge,
    .product__info-block--title-with-price ~ .product__info-block .product__price .price > dl {
        display: none;
    }

    .product__info-block--title-with-price
        ~ .product__info-block--price:has(.product__price .price > dl:last-child)
    {
        display: none;
    }

    .product__info-block--title-with-price.product__info-block--title-with-badge
        ~ .product__info-block--price:has(.product__price:last-child),
    .product__info-block--title-with-price.product__info-block--title-with-badge
        ~ .product__info-block--price:has(#product-form-installment [type="hidden"]:last-child)
    {
        display: none;
    }
}

.product__info-block--variant_picker .product-form__input--dropdown + .product-form__input--dropdown,
.product__info-block--variant_picker variant-radios fieldset + fieldset {
    border-top: 2px solid var(--color-foreground-4);
    margin-top: 1.5rem;
    padding-top: 1.5rem;
}

variant-radios .variant-options--wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: .75rem;
}

variant-radios .variant-options--wrapper label {
    align-items: center;
    border-radius: 4px;
    background: var(--color-foreground-8);
    color: var(--color-foreground-50);
    cursor: pointer;
    display: flex;
    font-weight: 500;
    height: 3rem;
    justify-content: center;
    min-width: 3rem;
    padding: 0 .625rem;
}

variant-radios .variant-options--wrapper [type=radio]:checked + label {
    background: var(--color-foreground);
    color: var(--color-background);
}

.product__info-block--variant_picker .swatch-attribute-options {
    --swatch-options--gap: 1rem;
    --swatch-option-size: 2.375rem;
}

.product__info-block--variant_picker .option-unavailable + label {
    position: relative;
}

.product__info-block--variant_picker .option-unavailable + label::before,
.product__info-block--variant_picker .option-unavailable + label::after {
    background: var(--color-background);
    content: '';
    display: block;
    height: 2px;
    left: calc(50% - 1.75rem / 2);
    position: absolute;
    top: calc(50% - 2px / 2);
    transform: rotate(-45deg);
    width: 1.75rem;
}

.product__info-block--variant_picker .option-unavailable + label::after {
    background: var(--color-foreground-20);
}

@media (hover: hover) {
    variant-radios .variant-options--wrapper [type=radio]:not(:checked) + label:hover {
        box-shadow: 0 0 0 2px var(--color-foreground-4);
    }
}

.product-media-modal__toggle {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 50;
}

@media (min-width: 768px) {

    .product-media-modal__toggle {
        top: 1.5rem;
        right: 2rem;
    }
}

.product-media-modal {
  background: var(--color-background);
  box-sizing: border-box;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transform: scale(0);
  visibility: hidden;
  width: 100%;
  z-index: 101;
}

.product-media-modal[open] {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
}

.product-media-modal .loading-overlay__spinner {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.product__info-block {
    color: var(--color-foreground-70);
    position: relative;
}

.product__info-block:last-child,
.product__info-block-no-spacing {
    margin-bottom: 0;
}

.product__info {
    display: grid;
    gap: 0 1rem;
    grid-template-columns: 100%;
    margin: 0 auto;
    max-width: 40rem;
}

.product__info-aside {
    display: contents;
}

.product__info .badge.in-content {
    padding: .125rem .625rem;
    display: block;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
}

.icon-accordion {
    margin-right: 0.75rem;
    height: 1.5rem;
    width: 1.5rem;
}

@media all and (min-width: 990px) {
    .product__info--with-gallery {
        align-items: flex-start;
        grid-template-columns: min(40rem, 55%) calc(43% - 2rem);
        grid-template-rows: repeat(99, min-content);
        justify-content: space-between;
        max-width: none;
    }

    .product__info-block-no-spacing,
    .product__info-block--gallery {
        margin-bottom: 0px;
    }

    .product__info-aside {
        display: block;
        order: 99;
    }

    .product__info--sticky .product__info-aside,
    .product__gallery--sticky .product__info-block--gallery {
        position: sticky;
        top: 0;
        z-index: 20; /* prevent overlap on inner dropdowns with content below */
    }

    .product__gallery--sticky .product__info-block--gallery {
        top: .75rem;
    }
}

.product-section .dynamic-page-width {
  max-width: min(75rem, 1280px);
}

/* Fallback */

.product-form__input input[type=radio]:focus + label {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    --tw-ring-offset-width: 2px;
}

/* No outline when focus-visible is available in the browser */

.product-form__input input[type=radio]:focus:not(:focus-visible):not(.swatch-option) + label {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    --tw-ring-offset-width: 0px;
}

.product-form__submit[disabled] + .shopify-payment-button {
    pointer-events: none;
}

a.product__text {
  display: block;
  text-decoration: none;
  color: var(--color-foreground-75);
}

.product .price--sold-out .price__badge-sold-out {
  background: transparent;
  color: var(--color-background);
  padding: 1rem 1.6rem 0 0.6rem;
  border: none;
}

.product .price--sold-out .price__badge-sale {
    display: none;
}

.product .product__tax {
    text-align: right;
}

product-model + .product__xr-button {
  display: none;
}

/* Product popup */

.product-popup-modal {
  box-sizing: border-box;
  opacity: 0;
  position: fixed;
  visibility: hidden;
  z-index: -1;
  margin: 0 auto;
  top: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  background: rgba(var(--color-base-text-rgb), 0.2);
  height: 100%;
}

.product-popup-modal[open] {
  opacity: 1;
  visibility: visible;
  z-index: 101;
}

.product-popup-modal__content img {
  max-width: 100%;
}

@media screen and (max-width: 749px) {
  .product-popup-modal__content table {
    display: block;
    max-width: -moz-fit-content;
    max-width: fit-content;
    overflow-x: auto;
    white-space: nowrap;
    margin: 0;
  }
}

body.product-modal__opened {
    overflow: hidden;
}

#has-options {
    margin-bottom: 1rem;
}

#has-options:target {
    display: block;
}

#has-options .notice-message {
    margin-left: auto;
    margin-right: auto;
}

.product__info-block-stock {
    position: relative;
    margin-bottom: 1rem;
}

.stock__counter {
  color: var(--color-foreground);
  position: absolute;
  right: 0px}
