@media (min-width: 990px) {
    .dropdown-inner.small {
        padding: .75rem;
        width: 18rem}

    .dropdown-inner.small details[open] {
        position: relative
    }

    .dropdown-inner.small .childlist-menu--disclosure {
        position: absolute;
        top: -.75rem;
        display: block;
        width: 18rem;
        border-radius: 0.25rem;
        padding: .75rem;
        right: -18rem;
        background-color: var(--header--dropdown-background, #fafafa);
        box-shadow: 2px 2px 10px 5px rgba(0,0,0,0.08);
        z-index: 40;
    }

    .dropdown-inner.small .list-menu--disclosure [open] summary {
        color: var(--color-base-accent-1);
    }

    .dropdown-inner .list-menu--disclosure > li > a,
    .dropdown-inner .childlist-menu--disclosure > li > a,
    .dropdown-inner.small .list-menu--disclosure summary > a {
        display: flex;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis
    }

    .dropdown-inner .list-menu--disclosure > li > a,
    .dropdown-inner.small .list-menu--disclosure summary > a {
        max-width: calc(100% - 2rem);
        padding-left: .5rem;
    }

    .dropdown-inner .childlist-menu--disclosure > li > a {
        max-width: calc(100% - .5rem);
    }

    .dropdown-inner.small .list-menu--disclosure summary > .icon-caret {
        position: absolute;
        right: .75rem;
        top: 50%;
        transform: translateY(-50%) rotate(-90deg);
    }
            [dir="rtl"] .dropdown-inner.small .childlist-menu--disclosure {
                left: -18rem;
                right: auto;
            }

            [dir="rtl"] .dropdown-inner.small .list-menu--disclosure summary > .icon-caret {
                left: .75rem;
                right: auto;
                top: 50%;
                transform: translateY(-50%) rotate(90deg);
            }
}
