.footer-section {
    --color-background-light: var(--footer-background-light-color);
    --color-foreground: var(--footer--text-color);
    --color-foreground-rgb: var(--footer--foreground-color-rgb);
    --color-link: var(--footer--heading-color);
    --color-link-hover: var(--footer--heading-color);
    background: var(--color-background-light);
    color: var(--color-foreground);
    margin-top: 1.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem}

.footer-content,
.footer__payment {
    position: relative}

.footer-content {
    overflow: clip;
}

.footer-content.with_newsletter:after {
    --color-newsletter-background: var(--footer-newsletter-background-color);
    background: var(--color-newsletter-background);
    content: '';
    position: absolute;
    right: 0px;
    top: 0px;
    display: block;
    padding-top: 10rem;
    padding-bottom: 10rem}

.image-placeholder > svg {
    border: 3px solid #002D57;
    border-radius: 50%;
    padding: .25rem;
}

.footer__payment .list-payment {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1.75rem}

.footer__payment .list-payment > li {
    margin: 0.125rem}

.footer__payment .list-payment svg {
    filter: saturate(var(--footer__payment-icon-saturate, 1));
}

.footer-contacts__newsletter {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center}

.footer-contacts__newsletter > .h5 {
    margin-bottom: 1rem}

.footer-contacts__newsletter div {
    width: 100%;
    max-width: calc(352px - 1px);
}

.footer-contacts__newsletter p {
    font-size: 1rem;
    line-height: 1.5rem}

.footer-contacts__newsletter .newsletter-form__field-wrapper .button {
    margin-bottom: 1rem}

.newsletter-form__field-wrapper .field > input {
    background-color: var(--color-base-background-1);
}

.footer-content .address .footer_logo {
    grid-area: footer_logo;
}

.footer-content .footer-contacts__address {
    display: contents;
}

.footer-content .footer-contacts__address > :first-child {
    grid-area: address;
}

.footer-content .address span.h5,
.footer-content .address ul {
    position: relative;
    z-index: 1;
}

.footer-content .address ul[data-index=1] {
    grid-area: footer_menu_1;
}

.footer-content .address ul[data-index=2] {
    grid-area: footer_menu_2;
}

.footer-content .address {
    align-items: flex-start;
    display: grid;
    grid-template-areas:'footer_logo   footer_logo'
                        'footer_menu_1 footer_menu_2'
                        'address       social'
                        'payment       payment';
    gap: 1.5rem;
    padding: 0 1rem;
}

._address > div,
.footer-content .address [data-index] {
    display: flex;
    flex-direction: column}

.footer-contacts__image {
    margin: 0 auto;
}

.footer-contacts__address {
    gap: 2rem}

.footer-contacts__social {
    grid-area: social;
}

.footer__payment {
    grid-area: payment;
}

.newsletter-form__field-wrapper .field {
    gap: 0.75rem}

@media (max-width: 989px) {
    .footer-contacts__newsletter {
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 1rem}

    .footer-content.with_newsletter:after {
        left: 0;
    }
}

@media (min-width: 768px) {
    .footer-content .address {
        grid-template-areas:'footer_logo footer_logo footer_logo'
                            'address footer_menu_1 footer_menu_2';
        gap: .5rem;
        grid-template-columns: 5fr 3fr 3fr;
    }

    .footer-content .footer-contacts__address {
        display: flex;
        grid-area: address;
    }

    .footer-content .address.with_no_logo {
        grid-template-areas:'address footer_menu_1 footer_menu_2';
        padding-top: 7rem;
    }

    .footer-content.with_newsletter::after {
         content: '';
         padding-top: 10rem;
         padding-bottom: 10rem}

    .footer-contacts__image {
        margin: initial;
    }

    .footer__payment {
        width: 100%}

    .footer-contacts__address,
    .newsletter-form__field-wrapper .field {
        gap: 1rem}

    .footer__payment .list-payment {
        position: absolute;
        flex-wrap: wrap;
        justify-content: flex-start}

    .footer-contacts__social > a:hover svg path {
        fill: #000;
    }
}

@media (min-width: 990px) {
    .footer-content.with_newsletter::after {
        left: auto;
        width: 40vw;
        right: 0;
    }

    .footer-content .address {
        flex-grow: 0;
        flex-shrink: 0;
        gap: 0 min(calc(.25rem + (100vw - 990px) / 2), 3rem);
        padding: 0 2rem;
        width: 60%;
    }

    .footer-content:after {
        content: '';
        position: absolute;
        bottom: 0px;
        display: block;
        left: 55%;
    }

    .footer-contacts__address {
        margin-bottom: 5rem}

    .footer-contacts__newsletter {
        flex-grow: 1;
        padding: 5rem 3rem 6rem;
    }

    .footer-content > .wrapper {
        gap: 0px}

    .footer-content .address .footer_logo {
        margin-top: 4rem}
}

@media (min-width: 1200px) {
    .footer-contacts__newsletter {
        padding: 5rem 6rem 6rem;
    }

    .footer-content.with_newsletter::after {
        width: calc(1200px * .4  + calc(100vw - 1200px) / 2);
    }
}

.footer-section h2,
.footer-section h3,
.footer-section h4,
.footer-section h5,
.footer-section .h2,
.footer-section .h3,
.footer-section .h4,
.footer-section .h5 {
    color: var(--footer--heading-color);
}

.footer-section h5,
.footer-section .h5,
.footer-section li {
    word-break: break-all;
    font-size: 1rem;
    line-height: 1.5rem}

.footer-section input::-moz-placeholder {
    color: rgba(var(--color-foreground-rgb), .3);
}

.footer-section input::placeholder {
    color: rgba(var(--color-foreground-rgb), .3);
}

.footer-section a:hover {
    text-decoration-line: underline}

.footer-block-toggler ~ .h5 {
    display: block;
    font-weight: 700;
    position: relative;
    word-break: break-word;
}

.footer-bottom {
    color: #7A8FA3;
    background: var(--color-background);
    margin: 0 auto;
    padding: 1.5rem}

.footer__copyright {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    text-align: center}

.footer__follow-on-shop {
    display: flex;
    justify-content: center}

.footer-bottom ._copyright {
    grid-area: copyright;
}

.footer-bottom ._menu {
    grid-area: links;
}

.footer-bottom ._policies {
    grid-area: policies;
}

.footer-bottom {
    display: grid;
    grid-template-areas: 'links links'
                         'policies policies'
                         'copyright copyright';
    gap: .5rem;
}

.footer-bottom ._copyright,
.footer-bottom ._menu {
    display: flex;
    align-items: center;
    justify-content: center}

.footer-bottom ._menu > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem}

.footer-bottom ._menu > ul > li:hover a {
    text-decoration-line: underline}

.footer-bottom .copyright__content {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400}

.policies {
    display: flex;
    justify-content: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem}

.policies > li {
    position: relative;
    padding-left: 0.5rem;
    padding-right: 0.5rem}

.policies > li > .separator:before {
    content: '';
    position: absolute;
    left: 0;
    border-left: 1px solid var(--color-foreground-10);
    height: 100%;
}

@media (min-width: 768px) {
    .footer-bottom {
        grid-template-areas: 'copyright links'
                             'policies policies';
    }

    .footer-bottom ._copyright,
    .footer-bottom ._menu {
        justify-content: space-between;
        padding-left: 2rem}
}

.footer-content > .wrapper {
    position: relative}

.footer-content > ._circle {
  border-radius: 100%;
  width: 28rem;
}

@media (min-width: 320px), print {
  .footer-content > ._circle {
    display: block;
    height: 50%;
    bottom: 100px;
    left: -200px;
  }
  .footer-content ._deco_circles {
    display: block;
    right: 0;
    top: -7rem;
    z-index: 1;
  }
}

@media (min-width: 600px), print {
  .footer-content > ._circle {
    height: 55%;
    bottom: 0;
    left: -300px;
  }

  .footer-content ._triangle {
    display: block;
    width: 0;
    height: 0;
    border: 150px solid transparent;
    border-top: 0;
    bottom: 0;
    transform: rotate(180deg);
    left: 55%;
  }
}

@media (min-width: 990px), print {
  .footer-content > ._circle {
    height: 100%;
    bottom: 0;
    left: -300px;
  }

  .footer-content ._triangle {
    left: 35%;
  }
}

@media (min-width: 1400px), print {
  .footer-content > ._circle {
    left: -220px;
  }
}

@media (min-width: 990px) {
        [dir="rtl"] .footer-content.with_newsletter::after {
            left: 0;
            right: auto;
        }
}

@media (min-width: 320px), print {
    [dir="rtl"] .footer-content > ._circle {
      left: auto;
      right: -200px;
    }

    [dir="rtl"] .footer-content ._deco_circles {
      left: 0;
      right: auto;
      transform: scaleX(-1);
    }
}

@media (min-width: 600px), print {
    [dir="rtl"] .footer-content > ._circle {
      left: auto;
      right: -300px;
    }

    [dir="rtl"] .footer-content ._triangle {
      left: auto;
      right: 55%;
    }
}

@media (min-width: 990px), print {
    [dir="rtl"] .footer-content > ._circle {
      left: auto;
      right: -300px;
    }

    [dir="rtl"] .footer-content ._triangle {
      left: auto;
      right: 35%;
    }
}

@media (min-width: 1400px), print {
    [dir="rtl"] .footer-content > ._circle {
      left: auto;
      right: -220px;
    }
}
