.contact.spaced-section .field {
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {

  .contact.spaced-section .field {
    margin-bottom: 2rem;
  }
}

.contact__form {
  border-radius: 4px;
}

.contact__form .button--primary {
  min-width: 12rem;
}

@media (min-width: 768px) {

  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}
