.heading > h2::after,
.heading > .title::after,
.main-page-title::after {
    margin: 0 1rem 0 0;
}

@media (min-width: 768px) {
    .heading._before > h2::before,
    .heading._before > .title::before {
        margin: 0 0 0 1rem;
    }
}

.button > svg.icon-arrow {
    --tw-rotate: 180deg;
}

.field:has(.field__button) > input {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.field .field__button {
    border-bottom-left-radius: var(--button__border-radius);
    border-top-left-radius: var(--button__border-radius);
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.animate-arrow .icon-arrow {
    --tw-rotate: 180deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
