@media all and (min-width: 990px) {
    .collection__info-aside .collection__block {
        border-radius: 4px;
        box-shadow: inset 0 0 0 3px var(--color-foreground-4);
        padding: 1rem 1.5rem;
    }
}
.collection__block--contacts .content {
    margin: 1rem 0 0;
}
.collection__block--contacts .content > a {
    align-items: center;
    display: flex;
    gap: .5rem;
    margin: .5rem 0;
}
.collection__block--contacts .content > a svg {
    background-color: var(--color-foreground-40);
    border-radius: 100%;
    color: var(--color-background);
    flex-shrink: 0;
    height: 2rem;
    padding: .325rem;
    width: 2rem;
}
.collection__block--contacts .content > a .instagram {
    fill: var(--color-background);
}
.collection__block--contacts .content > a .messenger path {
    transform: scale(1.125);
    transform-origin: center;
}
.collection__block--contacts .content > a span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.collection__block--featured:first-child {
    margin-top: -1.25rem;
}
.collection__block--featured .title-wrapper {
    background-color: rgba(var(--header-background-rgb), 1);
    color: rgba(var(--header-foreground-rgb), 1);
}
.collection__block--featured h2 {
    margin-right: 7rem;
}
.collection__block--featured slider-component {
    background-color: var(--color-foreground-4);
    border-radius: 4px;
    margin: var(--slider-component--margin, 0 -.75rem);
    padding: 0;
}
.collection__block--featured slider-component .products {
    --grid-item-gap: 0px;
    padding: .5rem .5rem 1rem;
    scroll-padding: .5rem;
}
.collection__block--featured slider-component .slider-buttons {
    margin: 0;
    position: absolute;
    right: .5rem;
    top: -4.5rem;
}
.collection__block--featured .slider-buttons:has(.slider-button--next[disabled]):has(.slider-button--prev[disabled]) {
    display: none;
}
.collection__block--featured slider-component .slider-button {
    --color-button-background: var(--color-background);
    --color-button-border: var(--color-foreground-10);
    border-radius: 100%;
}
.collection__block--featured .grid-item {
    padding: .75rem;
}
@media all and (min-width: 990px) {
    .collection__block--featured slider-component {
        padding: .75rem;
    }

    .collection__block--featured slider-component .products {
        margin-bottom: -4rem !important;
        padding-bottom: 5rem;
    }

    .collection__block--featured slider-component .slider-buttons {
        right: 1.25rem;
    }
}
.active-facets__item {
    --color-button-background: var(--color-foreground-8);
    --color-button-border: transparent;
    --color-button-text: var(--color-foreground);
    align-items: center;
    display: inline-flex;
    font-size: .875rem;
    gap: .5rem;
    overflow: hidden;
    padding: calc(.325rem - 1px) .5rem calc(.325rem + 1px);
    text-overflow: ellipsis;
    word-break: break-all;
}
.active-facets__item[data-filter-label] {
    font-weight: normal;
    justify-content: initial;
}
.active-facets__item > svg {
    background: var(--color-background);
    border-radius: 1rem;
    color: var(--color-base-accent-1);
    height: 1rem;
    margin: 1px 0 0;
    order: -1;
    padding: .125rem;
    width: 1rem;
}
.active-facets__item > svg use {
    filter: drop-shadow(1px 0px 0px var(--color-base-accent-1));
    transform: translateX(-0.5px);
}
.active-facets-desktop .active-facets__item {
    width: 100%;
}
.active-facets-desktop .active-facets__item[data-filter-label] {
    border: 0;
    font-size: 1rem;
}
.active-facets-desktop .active-facets__item--clear-all {
    width: auto;
}
@media all and (min-width: 768px) {
    .active-facets__item {
        gap: .75rem;
        padding-left: .75rem;
        padding-right: .75rem;
    }
}
@media all and (min-width: 990px) {
    .collection__info-aside .collection-filters {
        background-color: var(--color-foreground-8);
        box-shadow: none;
        padding-bottom: 2rem;
    }
}
.facets__type-accordion {
    display: none;
    max-width: 480px;
}
.facets__type-accordion + .mobile-facets__wrapper {
    display: block;
}
.facets__type-accordion .facets__summary .count-bubble {
    display: none;
}
@media all and (min-width: 990px) {
    .facets__type-accordion {
        display: block;
    }

    .facets__type-accordion ~ .mobile-facets__wrapper,
    .facets__type-accordion ~ .active-facets-mobile {
        display: none;
    }
}
.facets__type-accordion .active-facets-desktop {
    align-items: flex-start;
    display: flex;
    gap: .5rem;
    flex-direction: column;
    margin: 0;
    padding: 0 0 2rem;
}
.facets__type-accordion .active-facets-desktop:empty {
    display: none;
}
.facets__type-accordion .active-facets__heading {
    border-bottom: 2px solid var(--color-foreground-4);
    margin: .5rem 0 1.25rem;
    padding: 0 0.25rem 1.5rem;
}
.facets__type-accordion .active-facets__item--clear-all {
    font-size: 1rem;
    margin: 1rem 0 0;
    width: auto;
}
.facets__type-accordion .active-facets__item--clear-all::before {
    display: none;
}
.facets__type-accordion .active-facets__item + .active-facets__item + .active-facets__item--clear-all {
    display: flex;
}
.facets__type-buttons + .mobile-facets__wrapper {
    display: block;
}
.facets__type-buttons .facets__summary {
    font-size: .875rem;
    padding: .325rem .5rem .325rem 1rem;
}
@media all and (min-width: 480px) {
    .facets__type-buttons {
        display: block;
    }

    .facets__type-buttons ~ .mobile-facets__wrapper {
        display: none;
    }
}
.collection__block--menu {
    max-width: 420px;
}
.collection__block--menu .title {
   font-weight: 600;
}
.collection__block--menu summary {
    align-items: center;
    display: flex;
}
.collection__block--menu summary .icon-caret {
    box-sizing: content-box;
    height: 1rem;
    margin-left: auto;
    padding: 0 2px;
    width: 1rem;
}
.collection__block--menu .content a,
.collection__block--menu .content span {
    display: inline-block;
    padding: .25rem 0 .25rem .25rem;
    max-width: calc(100% - 2rem);
    overflow: hidden;
    text-overflow: ellipsis;
}
.collection__block--menu ul {
    padding: .25rem 0 .5rem .5rem;
}
.collection__block--menu .content {
    padding: 0;
}
.collection__block--menu .content > li > details > summary,
.collection__block--menu .content > li > a,
.collection__block--menu .content > li > span {
    font-weight: 600;
}
@media all and (min-width: 990px) {
    .collection__info-aside .collection__block--menu {
        background-color: var(--color-foreground-8);
        box-shadow: none;
        padding-bottom: 2rem;
    }

    .collection__info-aside .collection__block--menu .title {
        border: 2px solid var(--color-foreground-4);
        border-width: 0 0 2px;
        padding: 0 0 .75rem;
    }

    .collection__block--menu summary .icon-caret {
        height: .75rem;
        width: .75rem;
    }
}
.collection__block--title h1 {
    margin: 0;
}
.collection__block--title h1::after {
    background-color: currentColor;
    content: '';
    display: inline-block;
    height: 4px;
    margin: 0 1rem;
    vertical-align: middle;
    width: 4.5rem;
}
.empty--search-result {
    min-height: 30rem;
}
.collection-filters {
    display: grid;
    gap: 1rem;
}
.collection-toolbar-top {
    align-items: center;
    color: var(--color-foreground-50);
    display: flex;
    font-size: calc(1rem - 2px);
    margin: 0 0 1.5rem;
}
.collection-toolbar-top .collection-product-count {
    display: none;
}
.collection-toolbar-top .collection-product-count:first-child {
    display: block;
    margin: 0 auto 0 0;
}
collection-modes {
    align-items: center;
    display: flex;
    margin-right: auto;
}
collection-modes .mode {
    color: var(--color-foreground-10);
    padding: .5rem;
}
collection-modes .mode.active {
    color: var(--color-foreground);
}
.collection-toolbar-top .sorting {
    margin-left: auto;
}
.collection-toolbar-top .sorting .collection-filters__field {
    align-items: center;
    display: flex;
    margin: 0 -.25rem 0 0;
    white-space: nowrap;
}
.collection-toolbar-top .sorting .select {
    color: var(--color-foreground);
}
.collection-toolbar-top .sorting .disclosure summary {
    cursor: pointer;
    list-style: none;
    max-width: 30vw;
    overflow: hidden;
    padding: .25rem 1.25rem .25rem .5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.collection-filters__sort {
    border: 0;
    padding: .25rem 1.25rem .25rem .5rem;
}
.collection-filters__sort + .icon-caret {
    right: .25rem;
    width: .875rem;
}
.collection-toolbar-top collection-modes {
    margin: 0 calc(1.5rem + 1px) 0 auto;
    position: relative;
    white-space: nowrap;
}
.collection-toolbar-top collection-modes::after {
    background-color: var(--color-foreground);
    bottom: calc(50% - .625rem);
    content: '';
    position: absolute;
    right: -.75rem;
    top: calc(50% - .625rem);
    width: 1px;
}
.collection-toolbar-top collection-modes:first-child {
    margin: 0 auto 0 0;
}
.collection-toolbar-top collection-modes:first-child::after {
    display: none;
}
.collection-toolbar-top collection-modes + .collection-product-count,
.collection-toolbar-top collection-modes ~ .sorting {
    margin-left: 0;
}
@media all and (min-width: 640px) {
    .collection-toolbar-top .collection-product-count {
        margin: 0 calc(1.5rem + 1px) 0 auto;
        display: block;
        position: relative;
        white-space: nowrap;
    }

    .collection-toolbar-top .collection-product-count:nth-child(n+2)::after {
        background-color: var(--color-foreground);
        bottom: calc(50% - .625rem);
        content: '';
        position: absolute;
        right: -.75rem;
        top: calc(50% - .625rem);
        width: 1px;
    }

    .collection-toolbar-top .sorting {
        margin-left: 0;
    }
}
@media all and (min-width: 768px) {
    collection-modes::before {
        content: attr(data-label);
        margin-right: .5rem;
    }
}
.collection-sorting {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}
.facets__heading {
  font-weight: 600;
}
.facets__summary {
    min-width: 0px;
    max-width: 100%;
    font-size: 1rem;
    line-height: 1.5rem;
}
.facets__summary::before {
    display: none;
}
.facets__summary > span {
    word-break: break-all;
}
.facets__summary .facets__reset {
    display: none;
}
.collapsible .icon-caret {
    height: 1.5rem;
}
.facets__disclosure {
    position: relative;
    max-width: 100%;
}
button.facets__button {
    margin-bottom: 1rem;
    margin-left: 1rem;
}
.facets__type-accordion .facets__summary {
  align-items: center;
  display: flex;
  font-weight: 600;
  gap: 0.5rem;
  justify-content: space-between;
  padding: .25rem 0 .25rem .25rem;
}
.facets__type-accordion .facets__summary .icon-caret {
  box-sizing: content-box;
  color: var(--color-foreground-70);
  height: .75rem;
  order: 99;
  padding: 0 2px;
  width: .75rem;
}
.facets__type-accordion .facets__summary .count-bubble:not(.count-bubble--dot):empty + .facets__reset {
    display: none;
}
.js .facets__type-buttons .facets__disclosure[data-advanced=true] .facets__display {
  transform: scale(0);
  transform-origin: calc(100% - 1.5rem) -1.5rem;
  transition-property: transform,visibility,box-shadow;
}
.js .facets__type-buttons .facets__disclosure.open .facets__display {
  transform: scale(1);
}
.facets__type-buttons .facets__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}
.facets__type-buttons .facets__heading {
  color: currentColor;
  font-size: .875rem;
  font-weight: normal;
}
.facets__type-buttons .facets__summary .icon-caret {
  height: .75rem;
  width: .75rem;
}
@media (min-width: 768px) {
    .mobile-facets__wrapper {
        display: none;
    }
}
.mobile-facets__open {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.mobile-facets__open svg {
  height: 1.5rem;
  width: 1.5rem;
}
.mobile-facets__clear.disabled {
    pointer-events: none;
}
.count-bubble {
  height: 1rem;
  width: 1rem;
  font-size: .625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  font-weight: 700}
.button > .count-bubble {
  position: absolute;
  right: -.5rem;
  top: -.5rem;
}
@media (min-width: 768px) {
    .collapsible > .count-bubble {
        margin-left: auto;
    }
}
.count-bubble:empty {
  visibility: hidden;
}
.count-bubble--dot:empty {
  visibility: visible;
}
.count-bubble--dot::before {
  content: '';
  width: 0.375rem;
  height: 0.375rem;
  display: block;
  background-color: currentColor;
  border-radius: 50%;
}
.active-facets {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}
.active-facets-desktop {
  display: none;
}
.active-facets__item > svg {
    pointer-events: none;
    margin-right: -0.25rem;
    height: 1rem;
    width: 1rem;
    flex-shrink: 0;
}
.active-facets__item.disabled {
    pointer-events: none;
}
.active-facets-desktop {
  margin: 1rem 0 0;
}
.active-facets__heading {
  width: 100%;
  font-weight: 600;
}
.active-facets__item--clear-all:nth-child(3) {
  display: none;
}
.active-facets-mobile .active-facets__heading {
  display: none;
}
.collection__info {
    border-radius: 4px;
}
.collection__info-aside,
.collection__info-main {
    display: contents;
}
.collection__block .h5 {
    font-weight: 600;
}
@media all and (min-width: 990px) {
    .collection__info {
        flex-direction: row;
    }

    .collection__info-aside,
    .collection__info-main {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
        min-width: 0;
    }

    .collection__info-aside {
        flex-shrink: 0;
        width: min(18rem, 25%);
    }

    .collection__info-aside--left {
        order: -1;
    }
}
.collection-products__wrapper {
  position: relative;
}
.collection-products__wrapper ~ .pagination {
    display: block;
    padding-bottom: 2rem;
}
@media screen and (max-width: 767px) {
  .collection .title:not(.title--no-heading) {
    margin-top: -1rem;
  }
}
@media screen and (min-width: 768px) {
  .collection .title-wrapper-with-link--no-heading {
    margin-top: 6rem;
  }
}
.collection .grid__item,
.template-search .grid__item {
  padding-bottom: 2rem;
}
.template-search .grid__item--small {
  padding-bottom: 0.5rem;
}
.collection.loading .collection-product-count {
  visibility: hidden;
}
@media screen and (max-width: 767px) {
  .collection .grid__item:only-child {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .collection .grid__item,
  .template-search .grid__item {
    padding-bottom: 5rem;
  }

  .template-search .grid__item--small {
    padding-bottom: 1rem;
  }
}
.collection .negative-margin,
.template-search .negative-margin {
  margin-bottom: -2rem;
}
@media screen and (min-width: 768px) {
  .collection .negative-margin,
  .template-search .negative-margin {
    margin-bottom: -5rem;
  }
  .collection .negative-margin--small {
    margin-bottom: -1rem;
  }
}
.collection-filters__summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  cursor: pointer;
  height: 4.5rem;
  padding: 0 1.5rem;
  min-width: 25rem;
  margin-top: 2.4rem;
  border: 0.1rem solid var(--color-foreground-55);
}
.collection-filters__summary::after {
  position: static;
}
.collection-filters__field {
  flex-grow: 1;
}
.collection-filters__disclosure {
  min-width: 25rem;
}
.collection-filters__disclosure summary::after {
  top: 0;
}
.collection-filters__disclosure a {
  color: var(--color-foreground);
  cursor: pointer;
  display: block;
  padding: 1.2rem;
  text-transform: capitalize;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .collection-filters .collection-filters__sort {
    max-width: 100%;
  }
}
.mobile-facets__wrapper .disclosure-has-popup > summary::before {
  transition: none !important;
}
.mobile-facets__wrapper .disclosure-has-popup[open] {
  -webkit-tap-highlight-color: transparent;
}
.mobile-facets__wrapper .disclosure-has-popup[open] > summary::before {
  height: 100vh;
}
.no-js .mobile-facets__details {
  border-bottom: 1px solid var(--color-foreground-4);
}
[open] > .facets__summary svg,
.js .facets__disclosure.open > .facets__summary svg {
  --tw-rotate: 180deg;
}
.js [data-advanced=true] > .facets__summary svg {
  --tw-rotate: 0;
}
.sorting .button {
    margin-left: 0.5rem;
}
